In [4]:
import pandas as pd

# read the csv file and store it in a variable called 'data'
mortgage_df = pd.read_csv('../../data/housinglending.csv')

# display the first few rows of the data
mortgage_df.head()

,col_name,"Rates,OO ,Banks","Rates,OO , All institutions","Rates,OO,Var, Banks","Rates,OO,Var, Banks.1","Rates,OO,Fixed =<3 years","Rates,OO,Fixed =>3 years","Rates,OO,Interest Only","Rates,OO,P&I","Rates,New Loan, OO,All Loans, Banks",...,"Rates,New Loans, Investment Loan, Variable, All Institutions","Rates,New Loans, Investment Loan,Fixed=<3 years","Rates,New Loans, Investment Loan,Fixed=>3 years","Rates,New Loans, Investment, Interest Only","Rates,New Loans, Investment, P&I Only","Rates,New Loans, Investment, LVR=<81%","Rates,New Loans, Investment, LVR=>81%","Rates,New Loans, Investment, Price =< $600K","Rates,New Loans, Investment, Price = $600K - $1million","Rates,New Loans, Investment, Price => $1million"
0,31/07/2019,3.83,3.84,3.80,3.81,3.94,4.35,4.31,3.77,3.52,...,3.90,3.81,4.15,4.16,3.79,3.88,3.96,3.87,3.92,3.92
1,31/08/2019,3.81,3.82,3.78,3.79,3.91,4.28,4.35,3.75,3.47,...,3.92,3.69,4.15,4.08,3.77,3.88,3.92,3.88,3.88,3.91
2,30/09/2019,3.78,3.79,3.76,3.77,3.89,4.26,4.32,3.73,3.44,...,3.90,3.65,3.90,4.05,3.73,3.85,3.89,3.85,3.86,3.88
3,31/10/2019,3.68,3.69,3.64,3.64,3.87,4.20,4.29,3.61,3.29,...,3.71,3.49,3.79,3.86,3.57,3.68,3.73,3.68,3.70,3.68
4,30/11/2019,3.67,3.67,3.63,3.63,3.83,4.10,4.27,3.59,3.27,...,3.69,3.41,3.68,3.84,3.54,3.65,3.68,3.66,3.66,3.64

In [8]:
# Select just the first two columns
mortgage_df = mortgage_df.iloc[:, :2]
# Rename the columns
mortgage_df.columns = ['date', 'mortgage_rate']
# Change the date format
mortgage_df['date'] = pd.to_datetime(mortgage_df['date'], format='%d/%m/%Y').dt.strftime('%Y-%m-%d')
mortgage_df.head()

         date  mortgage_rate
0  2019-07-31           3.83
1  2019-08-31           3.81
2  2019-09-30           3.78
3  2019-10-31           3.68
4  2019-11-30           3.67